.App {
  text-align: center;
}

h2 {
  margin: 0;
}

h3 {
  margin-left: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(4px + 2vmin);
  color: white;
  /* position: fixed; */
  top: 0;
}

.App-header img {
  width: 9%;
  margin: 0 0 0 20px;
}

.App-header a {
  color: #ffffff;
  text-decoration: none;
}

.App-header ul {
  display: flex;
  margin: 0 20px 0 0;
}

.App-header ul li {
  list-style: none;
  margin: 0 5px 0 5px;
}

.homeClass {
  

  background-image: linear-gradient(to bottom right, rgb(226, 88, 34), #FFBD6F);
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sobreClass {
  background-image: linear-gradient(to bottom right, #009245, #FCEE21);
  height: 615px;
}

.sobreClass div {
  width: 1153px;
  height: 615px;
  position: relative;
}

.sobreClass .carrossel1 {
  width: 193px;
  height: 197px;
  background-color: #FFFFFF;
  bottom: 294px;
  left: 165px;
}

.cursosClass {
  background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
  height: 615px;
}

.contatoClass {
  background-color: #282c34;
  min-height: 30vh;
}

.contatoClass p {
  color: #FFFFFF;
}

footer {
  background-color: #282c34;
  border-top: solid 1px #FFFFFF;
}

footer div {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:baseline;
  flex-wrap: wrap;
}



footer div li {
  list-style: none;
  text-align: left;
  color: #FFFFFF;
  cursor: pointer;
}

footer p {
  border-top: solid 1px #FFFFFF;
  color: #FFFFFF;
  padding: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
