.App {
  text-align: center;
}

h2 {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(4px + 2vmin);
  color: white;
  /* position: fixed; */
  top: 0;
}

.App-header a {
  color: #ffffff;
  text-decoration: none;
}

.App-header ul {
  display: flex;
  margin: 0 20px 0 0;
}

.App-header ul li {
  list-style: none;
  margin: 0 5px 0 5px;
}

.homeClass {
  background-color: rgb(226, 88, 34);
  min-height: 100vh;
}

.sobreClass {
  background-color: rgb(79, 49, 209);
  min-height: 100vh;
}

.cursosClass {
  background-color: rgb(17, 189, 89);
  min-height: 100vh;
}

.contatoClass {
  background-color: rgb(172, 38, 112);
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
